.__title {
  display: block;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 72px;
  font-size: 45px;
  line-height: 80px;
  font-family: monospace;
  text-align: center;
}

.__zerops {
  display: inline-block;
  color: #00b1a3;
}

.__tech {
  display: inline-block;
  color: #00b1a3bf;
}

.__quote-title {
  margin-bottom: 36px;
  text-align: center;
  font-family: sans-serif;
  font-size: 22px;
  opacity: 0.8;
}

.__quote {
  padding: 24px;
  background: #fff;
  text-align: center;
  opacity: 0.6;
  font-family: sans-serif;
  font-size: 20px;
  font-style: italic;
}

.__checklist {
  max-width: 410px;
  margin: 0 auto;
  margin-top: 48px;
  padding: 24px;
  background: #fff;
  border-radius: 8px;
}

.__checklist-item {
  margin-bottom: 12px;

  .mat-checkbox {
    margin-right: 4px;
  }
}

.__author {
  font-size: 12px;
  opacity: 0.5;
  vertical-align: bottom;
}
